<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>StockWatcher.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>StockPriceServiceImpl</servlet-name>
        <servlet-class>com.epam.ali.gwt.sample.stockwatcher.server.StockPriceServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StockPriceServiceImpl</servlet-name>
        <url-pattern>/StockWatcher/stockPrices</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JsonStockData</servlet-name>
        <servlet-class>com.epam.ali.gwt.sample.stockwatcher.server.JsonStockData</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JsonStockData</servlet-name>
        <url-pattern>/StockWatcher/json</url-pattern>
    </servlet-mapping>
</web-app>